body, html, #root{
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  margin-left: 30%;
  background-color: rgb(36, 119, 228);
  width: 70%;
}

.profile{
  position: relative;
  left:200px;
  height: 100px;
}
.filter{
  width: 30%;
  display: inline-block;
  height: 300px;
  position: fixed;
  background-color: lightblue;
  height: 100%;
}

.student-image{
  width:150px;
  height:150px;
  background-size:cover;
  border-radius:50%;
  background-repeat:no-repeat;
  background-position:50% 50%;
  overflow:hidden;
}

.caption:hover{
  
  background-color: rgba(212, 212, 37,0.5)
}

.student-enter {
  opacity: 0.01;
  height:0;
  overflow:hidden;
}

.student-enter.student-enter-active {
  opacity: 1;
  height:500px;
  transition: opacity 500ms ease-in;
}

.student-leave {
  opacity: 1;
  height:500px;
}

.student-leave.student-leave-active {
  opacity: 0.01;
  height:0;
  transition: opacity 300ms ease-in;
}
@media screen and (max-width:1000px){
  .col-xs-1{
    width:50%;
  }
}
@media screen and (max-width:675px){
  .col-xs-1{
  width:100%;
  }
}